<h1>SignUp</h1>


<br>
<%= form_for :user, url: '/signup' do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>